section {

   padding: 0  calc(24px + (121 - 24) * ((110vw - 375px) / (1280 - 375)));
   margin-bottom: calc(60px + (160 - 60) * ((110vw - 375px) / (1280 - 375)));

}

h2 {
   font-size: calc(34px + (58 - 34) * ((110vw - 375px) / (1280 - 375)));
   font-weight: 500;
   margin-bottom: calc(40px + (90 - 40) * ((110vw - 375px) / (1280 - 375)));
   
   text-transform: uppercase;
   line-height: 117%;
}
   
.infoContainer {
   display: flex;
   gap: calc(20px + (51 - 20) * ((100vw - 375px) / (1280 - 375)));
   flex-wrap: wrap;
} 
   

.infoCard {
   flex-basis: 250px;
   flex-grow: 1;
}
.infoCard img {
  width: 100%;
}



.infoBox {
   flex-basis: 300px;
   flex-grow: 3;
}

h4 {
   font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
   font-weight: 700;
   margin-top: auto;
   margin-bottom: 20px;
   line-height: 120%;
}

.infoBox p {
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
  margin-bottom: 60px;
}
 
  

.legendSkills {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
   column-gap: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
  
}


.skill img {
   width: 36px;
}

.skill span {
   display: block;
   margin-top: 10px;
   font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
   line-height: 140%;
}


   
    


.Diplom {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 20px;
   
}
   
.Diplom span {
   font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
}
   
.Diplom img {
  
grid-row: 1/3;
align-self: center;
max-width: 300px;


}
   

.Diplom h3 {
  margin-bottom: 0;
  font-size: calc(34px + (58 - 34) * ((110vw - 375px) / (1280 - 375)));
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
  

}

@media (max-width: 600px) {
   .Diplom {
      grid-template-columns: 1fr;
   }
   .Diplom img {
      grid-row: 2/3;
      width: 100%;
   }
}
 


 

.frameBox {
   border: 2px solid black;
   padding:calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375))) calc(20px + (52 - 20) * ((100vw - 375px) / (1280 - 375))) calc(23px + (35 - 25) * ((100vw - 375px) / (1280 - 375)));
   position: relative;

}


#corner {
   position: absolute;
    width: calc(40px + (140 - 40) * ((100vw - 375px) / (1280 - 375)));
   top: -2px;
   right: -2px;
}



.frameBox h3 {
   margin: 0;
}

.lessons {
   margin-top: calc(24px + (40 - 24) * ((100vw - 375px) / (1280 - 375)));
   margin-bottom: calc(23px + (34 - 23) * ((100vw - 375px) / (1280 - 375)));
   list-style-type: none;
}

.lessons li {
   border-bottom: 1px solid #a1a1a1;
   padding: 24px 0;
   font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));

}

.lessons li:first-child {
   padding-top: 0;
}

.frame button {
   display: block;
   margin: 0 auto;
   
      width: 328px;
      padding: 20px 0px;
      border-radius: 12px ;
  
      font-size: 20px;
      font-weight: 500;
      line-height: 117%;
  
      background: #6E3ABA;
      color: white;
      border: 1px solid  #6E3ABA;
   }
  
  
   .mobile {
      display: none !important;
   }
   
   @media (max-width: 600px) {
      .mobile {
         display: block !important;
      }
   
      .desktop {
         display: none !important;
      }
   
      .frame button {
         margin-top: 30px;
      }
   
      .lessons li:last-child {
         border: 0;
         padding-bottom: 0;
      }
   }
 
  



 
   
   h3 {
      
      font-size: calc(34px + (58 - 34) * ((110vw - 375px) / (1280 - 375)));
      font-weight: 500;
      text-transform: uppercase;
      line-height: 117%;
   }
      
      
   
    .money p {
      font-size: calc(18px + (27 - 18) * ((110vw - 375px) / (1280 - 375)));
   }
   
   .money img {
      margin-top: 20px;
   }
   
   @media (max-width: 600px) {
     .money img {
      width: 328px;
      height: 96px;
      top: 350px;
   }
   
   
   }

  
   
   
   
   .presentBox {
      display: grid;
     grid-template-columns: 1fr 2fr;
     
   }
   
   .presentBox img {
      grid-row: 1/3;
      width:  calc(406px + (579 - 406) * ((100vw - 375px) / (1280 - 375)));
      height:  calc(248px + (354 - 248) * ((100vw - 375px) / (1280 - 375)));
      
      
     
   }
 .inside {
  margin-top: 50px;
 }

      
   
    .inside p {
      font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
       line-height: 140%;
       margin-top: 25px;
      
   }
   
   @media ( max-width: 600px) {
       .presentBox {
         grid-template-columns: 2fr;
       }
       .presentBox {
         grid-row: 2/2;
       }
   }


   
   
   .otziviprof img {
      border-radius: 50px;
  }
  /*.user1, .user2, .user3, img {
      margin-left: 5px;
  }*/
  .fio {
      margin-left: 16px;
      
      height: 56px;
      display: flex;
      flex-wrap: wrap;
  }
  .otziviprof {
      display: flex;
      flex-direction: row;
  }
  .otziviprof h5 {
      font-family: 'TT Hoves';
      font-size: 21px;
      font-weight: 400;
      line-height: 140%;
  }
  .otzivi {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: calc(20px + (40 - 20) * ((100vw - 376px) / (1280 - 375)));
  
      
  }
  .otziv h2 {
      
      height: calc(80px + (68 - 80) * ((100vw - 376px) / (1280 - 375)));
  }
  .user1 {
      width: calc(328px + (335 - 328) * ((100vw - 376px) / (1280 - 375)));
      height: calc(484px + (484 - 484) * ((100vw - 376px) / (1280 - 375)));
      
      background-color: #F0F7FD;
      margin-right: 5px;
      border-radius: 12px;
      margin-top: 10px;
  }
  .user2 {
      width: calc(328px + (335 - 328) * ((100vw - 376px) / (1280 - 375)));
      height: calc(484px + (484 - 484) * ((100vw - 376px) / (1280 - 375)));
      
      background-color: #F0F7FD;
      margin-right: 5px;
      border-radius: 12px;
      margin-top: 10PX;
  }
  .user3 {
      width: calc(328px + (335 - 328) * ((100vw - 376px) / (1280 - 375)));
      height: calc(484px + (484 - 484) * ((100vw - 376px) / (1280 - 375)));
      
      background-color: #F0F7FD;
      border-radius: 12px;
      margin-top: 10px;
  }
  .user1 p {
      margin-left: 15.5px;
      margin-top: 8px;
  }
  .user2 p {
  
      margin-left: 15.5px;
      margin-top: 8px;
  }
  .user3 p {
      margin-top: 8px;
      margin-left: 15.5px;
  }
  .youtube {
      margin-top: 54px;
      margin-left: 15.5px;
  }
  .user1 p, .user2 p, .user3 p {
      width: 305px; 
      height: 260px;
      text-overflow: ellipsis;
      font-family: 'TT Hoves';
      font-size: 21px;
      font-weight: 400;
      line-height: 140%;
      
  }






.tehnikums {
   display: grid;
   grid-template-columns: 3fr;
   
   gap: 30px;
   
}
  
  
.tehnikum {
   display: grid;
   grid-template-columns: 1fr;
}
  .tehnikum img {
   width: 110px;
height: 110px;
top: calc(74px + (148 - 74) * ((100vw - 376px) / (1280 - 375)));
left: 121px;
}
.tehnikum span {
  
font-size: calc(22px + (27 - 22) * ((100vw - 376px) / (1280 - 375)));
margin-top: calc(20px + (40 - 20) * ((100vw - 376px) / (1280 - 375)));
font-weight: 600;
line-height: 122%;
text-align: left;
width: calc(328px + (426 - 328) * ((100vw - 376px) / (1280 - 375)));
height: calc(93px + (114 - 93) * ((100vw - 376px) / (1280 - 375)));

}

.graduate {
  grid-column: 2/3; 
  grid-row: 1/2;
  
}

.direction {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 150px;
}

.graduate p, .direction p {
   font-size: calc(16px + (21 - 16) * ((100vw - 376px) / (1280 - 375)));
}

.graduate h4, .direction h4 {
   
 font-size: calc(34px + (58 - 34) * ((100vw - 376px) / (1280 - 375)));
 font-weight: 700;
}


@media (max-width: 600px) {
   .aboutschool {
      display: grid;
     grid-template-columns: 1fr;
   }
   .graduate {
      grid-row: 2/3;
      grid-column: 1/2;
      
   }
   .direction {
      grid-row: 2/3;
      grid-column: 1/2;
      width: 328px;
     height: 40px;
   }

}






   

section.application{
   background-color: #222;
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   color:#fff;
   padding: calc(24px + (120 - 24) * ((100vw - 375px) / (1280 - 375)));
  
   
}
   
   
.register{
   width: calc(328px + (475 - 328) * ((100vw - 376px) / (1280 - 375)));
   margin-top: 100px;
   
}
.regText {
   margin-top: calc(40px + (80 - 40) * ((100vw - 376px) / (1280 - 375)));
}
.register h2{
   width: calc(328px + (424 - 328) * ((100vw - 376px) / (1280 - 375)));
   margin: calc(40px + (80 - 40) * ((100vw - 376px) / (1280 - 375))) 0;
}
.txt{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-bottom:calc(20px + (24 - 20) * ((100vw - 376px) / (1280 - 375)));
}
.txt img{
   align-self:center;
   width:28px;
   height: 28px;
   margin-right: 20px;
}
.txt p{
   margin: 0;
   font-size: calc(18px + (27 - 18) * ((100vw - 376px) / (1280 - 375)));
   text-transform: uppercase;
}
.regText{
   margin-bottom:calc(44px + (187 - 44) * ((100vw - 376px) / (1280 - 375)));

}
.registerForm{
   position: relative;
  margin-top: calc(80px + (100 - 80) * ((100vw - 376px) / (1280 - 375)));
  margin-bottom: calc(150px + (80 - 150) * ((100vw - 376px) / (1280 - 375)));
  
  
   width: calc(350px + (475 - 350) * ((100vw - 376px) / (1280 - 375)));
   height: calc(529px + (600 - 529) * ((100vw - 376px) / (1280 - 375)));
}
.Rgform{
   margin-top: 10px;
   margin-right: 24px;
   background-color:#FFFFFF;
   color:#222222;
   text-align: center;
   padding: 60px calc(30px + (69 - 30) * ((100vw - 376px) / (1280 - 375)));
   border-radius:12px;
   
}
.Rgform form {
   margin-top: 30px;
}
.Rgform input {
   display: block;
   width: 100%;

   border: 0;
   border-bottom: 1px solid #a1a1a1;
   outline: 0;
   background: transparent;

   font-size: 18px;
   line-height: 27px;
   padding: 10px 0;
}

 .Rgform form button {
   margin-top: 30px;

   width: calc(267px + (328 - 267) * ((100vw - 376px) / (1280 - 375)));
   padding: 20px 0px;
   border-radius: 12px ;

   font-size: 20px;
   font-weight: 500;
   line-height: 117%;

   background: #6E3ABA;
   color: white;
   border: 1px solid  #6E3ABA;
}

.Rgform h4{
   font-size: calc(26px + (30 - 26) * ((100vw - 376px) / (1280 - 375)));
   font-weight: 700;
   text-transform: uppercase;
   line-height: 118%;
}
.Rgform span{
   font-size: 21px;
   line-height: 140%;
   text-align: center;
   margin-top: 10px;
}
.havequestion{
   margin-top: 40px;
   width: calc(271px + (353 - 271) * ((100vw - 376px) / (1280 - 375)));
   opacity: 50%;
}
.havequestion h5 , .havequestion p{
   font-size: 18px;
   line-height: 21.2px;
   margin: 0;
}

.havequestion h5{
   margin-bottom: 10px;
}

.circle {
  position: relative;
  width: calc(105px + (159 - 105) * ((100vw - 376px) / (1280 - 375)));
  height: calc(105px + (159 - 105) * ((100vw - 376px) / (1280 - 375)));
margin-bottom: -80px;
margin-left: -70px;
}

.image-container {
   position: relative;
   width: calc(105px + (159 - 105) * ((100vw - 376px) / (1280 - 375)));
   height: calc(105px + (159 - 105) * ((100vw - 376px) / (1280 - 375)));

}

#skidka {
   width: calc(105px + (159 - 105) * ((100vw - 376px) / (1280 - 375)));
   height: calc(105px + (159 - 105) * ((100vw - 376px) / (1280 - 375)));  
}

.discount-text {
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: calc(40px + (63 - 40) * ((100vw - 376px) / (1280 - 375))); 
   color: white; 
   font-weight: bold;
}

@media (max-width: 600px) {
   .circle {
      
    margin-bottom: -70px;
   
    margin-left: 250px;
    }
}





















.wrapper {
   position: fixed;
   top: 0;
   left: 0;

   background-color: rgba(0, 0, 0, 0.6);
   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;


   display: none;
}


.popUp {
   background: #f0f7fd;
   width: calc(326px + (800 - 326) * ((100vw - 375px) / (1280 - 375)));
   height: 80vh;
   border-radius: 12px;

   display: flex;
   justify-content: center;
   align-items: center;


   display: none;
}


.form {
   width: 320px;
}

.form h5 {
   text-transform: uppercase;
   font-size: 26px;
   text-align: center;
}

.form input {
   display: block;
   width: 100%;

   border: 0;
   border-bottom: 1px solid #a1a1a1;
   outline: 0;
   background: transparent;

   font-size: 18px;
   line-height: 27px;
   padding: 10px 0;
}


.form button {
   margin-top: 30px;

   width: 328px;
   padding: 20px 0px;
   border-radius: 12px ;

   font-size: 20px;
   font-weight: 500;
   line-height: 117%;

   background: #6E3ABA;
   color: white;
   border: 1px solid  #6E3ABA;
}

.thankYouPage {
   background: #222;
   width: calc(326px + (800 - 326) * ((100vw - 375px) / (1280 - 375)));
   height: 80vh;
   border-radius: 12px;

   color: white;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;



   display: none;
}

.thankYouPage h2 {
   margin-bottom: 10px;
}




section.dokazatelstvo {
   margin-top: 100px;
}
.dokazatelstvo p {
  
font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;


}

 /*.swiper img {
   width: 100%;
 }*/ 

